.card {
  width: 30%;
  max-height:500px ;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ebebeb;
  align-content: center;
  margin: auto;
  box-shadow: -4px 9px 16px -5px rgba(0,0,0,0.73);
  -webkit-box-shadow: -4px 9px 16px -5px rgba(0,0,0,0.73);
  -moz-box-shadow: -4px 9px 16px -5px rgba(0,0,0,0.73);
}

.card-header{
  height: 30%;
  background: #7fb6e7;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.card-header p{
  font-size: 20px;
}

.container{
  padding: 4px 16px;
}